// Blog

.page-blog {

  background-color: $white;
  line-height: 1.5em;
  padding: 1.5em;

  h2 {
    color: $header-level-1-color;
    margin: 0 0 0.5em 0;
    padding-top: 0.5em;
  }

  h3 {
    color: $header-level-4-color;
    font-family: $header-secondary-font-family;
    font-weight: normal;
    margin: 2em 0 0.5em 0;
  }

}

.blog-meta {

  color: $page-text-minor-color;
  font-family: $header-secondary-font-family;
  margin: 1.5em 0;

  .post-date {

    border: solid 1px $dark-grey;
    border-radius: 3px;
    color: $dark-grey;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;

    &:hover {
      background-color: $dark-grey;
      color: $white;
    }

  }

  .tag {

    border: solid 1px $mla-blue;
    border-radius: 3px;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;

    &:hover {
      background-color: $mla-blue;
      color: $white;
    }

  }

}
