// Blog posts RSS widget

.blog-posts {

  padding: 0.5em;

  @include breakpoint(lg) {
    background-color: $white;
    border: solid 1px #ccc;
    font-size: 0.9em;
    left: 1em;
    line-height: 1.25em;
    margin: 0 1em 1em 0;
    padding: 1em;
    position: absolute;
    top: 470px;
    width: 22.6%;
  }

}
