@mixin button($color: $button-text-color, $background-color: $button-background-color) {

  @include tile;

  background-color: $background-color;
  border: 0;
  border-radius: 0;
  color: $button-text-color;
  font-family: $header-secondary-font-family;
  padding: 0.5em 0.75em;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &.current {
    color: $color;
    text-decoration: none;
  }

  &:active {
    border-bottom: 0;
    margin-top: 2px;
  }

}

button,
.button,
.generic-button a {
  @include button;
}

.pagination {

  align-items: baseline;
  display: flex;
  padding: 1em;

  .pag-count {
    flex: 1;
  }

  .pagination-links > .page-numbers,
  .page-numbers {
    @include button;
  }

}
