// Citation builder

.citation-entry {

  background-color: $white;
  border-bottom: solid 1px $border-light-grey;
  margin-top: 0;
  padding: 0.5em;

  @include breakpoint(lg) {

    border: solid 1px $border-light-grey;
    margin: 1em;
    padding: 1em;

    h4 {
      margin-top: 0;
    }

    .overflow {
      display: block;
    }

  }

  p {
    margin: 0.5em 0 0.25em 0;
  }

}

.title-of-work-field {
  border: solid 1px #666;
  padding: 3px 5px;
}

.cite-submit {

  background-color: $white;
  border: solid 1px $mla-blue;
  border-radius: 5px;
  color: $mla-blue;
  display: inline-block;
  font-weight: bold;
  margin-left: 3px;
  padding: 3px 6px;

  &:hover {
    text-decoration: none;
  }

}
