// Citation builder

.citation-entry {

  margin-top: 0;
  padding: 0.5em;

  @include breakpoint(lg) {

    margin: 1em;
    padding: 1em;

    h4 {
      margin-top: 0;
    }

    .overflow {
      display: block;
    }

  }

  p {
    margin: 0.5em 0 0.25em 0;
  }

}

.citation {
  input {
    min-width: 20em;
  }
}

.citation-output {
  background-color: $background-light-grey;
  padding: 1em;
  position: absolute;
  right: 2em;
  top: 7em;
  width: 25em;
}

.cite-submit {

  background-color: $white;
  border: solid 1px $mla-blue;
  border-radius: 5px;
  color: $mla-blue;
  display: inline-block;
  font-weight: bold;
  margin-left: 3px;
  padding: 3px 6px;

  &:hover {
    text-decoration: none;
  }

}
