// Footer

.site-footer {

  background-color: $footer-background-color;
  bottom: 0;
  color: $footer-text-color;
  font-family: $header-secondary-font-family;
  left: 0;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 200;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  a {
    color: $footer-text-color;
    text-decoration: underline;
  }

}
