// Footer

.site-footer {

  background-color: $mla-blue;
  bottom: 0;
  color: $white;
  left: 0;
  padding: 1em;
  position: fixed;
  width: 100%;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

}
