// Marketing blurbs

.marketing-blurb {
  background-image: url($handbook-cover);
  background-position: left 45px;
  background-repeat: no-repeat;
  border: solid 1px $border-light-grey;

  p {
    margin: 0.5em 0 0.25em 0;
  }

}

.buy-the-book {
  text-align: center;
}

.buy-button {

  background-color: $mla-blue;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  margin-left: 3px;
  padding: 3px 6px;

  @include breakpoint(lg) {
    border-radius: 0.75em;
    font-size: 1em;
    margin-left: 0;
    padding: 5px 1em;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }

}
