// Search

$hilite-background-color: #ff6;
$from-the-book-background-color: $white;


// Main search field

.main-search {

  margin: 0.5em;

  @include breakpoint(lg) {

    background-color: $background-light-grey;
    margin: 1em;
    padding: 1em;

    .overflow {
      display: block;
    }

  }

  .search-field {

    background-image: url($search-icon);
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: solid 1px $input-border-color-dark;
    border-radius: 0.25em;
    box-sizing: border-box;
    max-width: 800px;
    padding: 4px 5px 4px 24px;
    width: 100%;

    &:focus {
      outline: none;
    }

  }

  form,
  fieldset {
    margin: 0;
  }

}

.instructions {
  font-size: 0.9em;
  line-height: 1.25em;
  margin: 0.5em 0 0 0;
  text-align: right;
}

.twitter-typeahead,
.tt-dropdown-menu,
.tt-menu,
.tt-hint,
.tt-input {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
}

.tt-menu {
  background-color: $white;
  border: solid 1px $input-border-color-dark;
  border-top: 0;
  padding: 7px 0;
}

.tt-selectable {

  cursor: pointer;
  padding: 4px 5px 4px 24px;

  &:hover {
    background-color: $background-light-grey;
  }

}

.new {
  margin-top: 1.25em;
}


// Search results

.search-results {

  margin: 1em;

  @include breakpoint(lg) {

    margin-left: 2em;

    h2 {
      margin-top: 0;
    }

    .overflow {
      display: block;
    }

  }

}

.search-result {

  border-bottom: solid 1px $border-light-grey;
  margin: 0.5em 0;
  padding: 1em 0 0.5em 0;

  h3 {
    margin-top: 0;
  }

}

.search-results-from-the-book {

  background-color: $background-light-grey;
  margin-top: 0.75em;
  padding: 0.5em 0.75em;

  @include breakpoint(lg) {

    background-color: $from-the-book-background-color;
    border: solid 2px $border-light-grey;
    margin: 1em;
    padding: 1em;

    h4 {
      margin-top: 0;
    }

    .gloss {
      font-size: 0.9em;
    }

    .underflow {
      display: none;
    }

    .overflow {
      display: block;
    }

  }

  p {
    margin: 0.5em 0 0.25em 0;
  }

  .buy-the-book {
    margin-top: 1.5em;
  }

}

.excerpt {
  color: $page-text-minor-color;
}

.hilite {
  background-color: $hilite-background-color;
}

.page-reference {
  color: $page-text-minor-color;
  white-space: nowrap;
}

.search-result-type {
  color: $page-text-minor-color;
  font-size: 1em;
  font-variant: small-caps;
  white-space: nowrap;
}

.refine-search {
  padding: 1.5em 0 1em 0;
}
