// Typography

$header-font-family: abril-text, Georgia, serif;
$header-secondary-font-family: proxima-nova, Helvetica, Arial, sans-serif;
$text-font-family: abril-text, Georgia, serif;

$header-bold: 700;
$text-bold: 600;

$font-size-xl: 3em;
$font-size-l: 2em;
$font-size-m: 1.5em;
$font-size-ms: 1.2em;
$font-size-s: 1em;
$font-size-vs: 0.9em;
$font-size-xs: 0.7em;
