// Layout containers

.homepage {

  background-color: $nav-background-color;

  .sidebar, .page-banner {
    display: none;
  }

  .content {
    flex-basis: 100%;
  }

  .page {
    padding: 1.5em;
    padding-bottom: 3em;
  }

}

.page {

  padding: 0;
  padding-bottom: 3em;

  @include breakpoint(lg) {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.content {

  @include breakpoint(lg) {
    flex-basis: 75%;
  }

}

.sidebar {

  @include breakpoint(lg) {
    flex-basis: 30%;
    margin-right: 3em;
  }

}

.blog-posts {
  clear: left;
}
