// Layout containers

.homepage {

  background-color: $nav-background-color;

  .sidebar,
  .page-banner {
    display: none;
  }

  .content {
    flex-basis: 100%;
  }

  .page {
    padding: 1.5em;
    padding-bottom: 3em;
  }

}

.page {

  padding: 0;
  padding-bottom: 3em;

  @include breakpoint(lg) {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.page-generic {
  line-height: 1.5em;
  max-width: 40em;
  padding: 2em;
  padding-bottom: 5em;
}
