// Layout containers

.content {

  @include breakpoint(lg) {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em 0;
  }

}

.container {
  margin: 3em 1em;
}

.homepage-tile {

  @include breakpoint(lg) {

    box-sizing: border-box;
    flex-basis: 48%;

    > h4 {
      margin-top: 0;
    }

    .overflow {
      display: block;
    }

  }

}

.blog-posts {
  clear: left;
}
