/* Tiles */

.homepage-tiles {
  @include breakpoint(lg) {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.homepage-tile {

  margin-top: 0;
  padding: 0.5em;

  @include breakpoint(lg) {

    box-sizing: border-box;
    flex-basis: 31%;
    margin: 0 0 2em 0;
    min-height: 13em;
    padding: 1em;

    .overflow {
      display: block;
    }

  }

}

.sidebar-tile {
  margin-bottom: 1em;
  padding: 1em;
}

.tile-link {

  background-color: $white;
  border: solid 1px $mla-blue;
  position: relative;

  .tile-head {
    bottom: 0;
    color: $mla-blue;
    display: block;
    font-size: 2em;
    font-weight: bold;
    left: 0;
    line-height: 1.2em;
    padding: 0.75em 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .tile-body {
    color: $white;
    display: none;
    z-index: 10;
  }

  &:hover {

    background-color: $mla-blue;

    .tile-head {
      color: $white;
      text-decoration: none;
    }

    .tile-body {
      bottom: 0;
      display: block;
      left: 1em;
      position: absolute;
      right: 1em;
    }

  }

}

.icon {
  border: solid 2px $white;
  border-radius: 0.5em;
  font-size: 0.9em;
  margin-right: 0.5em;
  padding: 2px 5px 0 7px;
}
