// Tiles

.homepage-tiles {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homepage-tile {

  box-sizing: border-box;
  flex-basis: 100%;
  margin: 0 0 2em 0;
  min-height: 13em;
  padding: 0.5em;

  @include breakpoint(sm) {
    flex-basis: 48%;
  }

  @include breakpoint(lg) {

    flex-basis: 31%;
    padding: 1em;

    .overflow {
      display: block;
    }

  }

  img {
    height: auto;
    max-width: 280px;
  }

}

.sidebar-tile {

  margin-bottom: 1em;
  padding: 1em;

  img {
    height: auto;
    max-width: 280px;
  }

}

.tile-link,
.tile-content {
  background-color: $white;
  border: solid 2px $tile-primary-color-1;
  font-family: $header-secondary-font-family;
  position: relative;
}

.tile-link {

  &:hover {

    background-color: $tile-primary-color-1;

    .tile-link-head {
      color: $white;
      text-decoration: none;
    }

    .tile-body {
      color: $white;
    }

  }

}

.tile-head,
.tile-link-head {
  font-family: $header-secondary-font-family;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
  padding: 0.3em 0;
}

.tile-link-head {
  bottom: 0;
  color: $tile-primary-color-1;
  display: block;
  left: 0;
  padding: 0.75em 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.tile-body {
  bottom: 0;
  color: $tile-primary-color-1;
  left: 1em;
  position: absolute;
  right: 1em;
  z-index: 10;
}

.tile-content {

  background-color: $light-grey;
  border-color: $light-grey;

  .tile-body {
    color: $black;
  }

}

.tile-alternate {

  border-color: $tile-primary-color-2;

  .tile-link-head {
    color: $tile-primary-color-2;
  }

  .tile-body {
    color: $tile-primary-color-2;
  }

  &:hover {
    background-color: $tile-primary-color-2;

    .tile-link-head {
      color: $white;
    }

    .tile-body {
      color: $white;
    }

  }

}
